.productPage{
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .picDisplay{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding-right: 50px;


        .picThumbnail{
            display: flex;
            flex-direction: column;
            flex:span 1;
            gap: 20px;
            grid-row: span 2;

            img{
                width: 100%;
               
                object-fit: cover;
                cursor: pointer;
            }
        }

        .displayImg{
            grid-column: span 4;
         
            img{
                width: 100%;
                object-fit: cover;
                max-height: 600px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            }
            
        }

    }

    .productDisplay{
        margin-top: 200px;
        margin-left: 50px;
        margin-right: 50px;
        
        h2{
            font-size: 18px;
        }

        p{
            font-style: oblique;
            color: darkgrey;
        }

        .addToCart{
            button{
                margin: 10px;
            }
            .cartButton{
                border-radius: 5px;
                background-color: white;
            }
            .addFav{
                button{
                    color: lightblue;
                    background-color: white;
                }
            }
        }
    }

}