.navbar{
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 9999;
    
    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content:space-between;

        .item{ display: flex;
            align-items: center; 
            font-size: 18px;
        }
        
        .left{ 
            display: flex;
            align-items: center; 
            gap: 18px;
        }

        .right{ 
            display: flex;
            align-items: center; 
            gap: 18px;
            font-size: 18px;
        }
        
        .center{ 
            font-size: 30px;
            letter-spacing: 2px;
            font-weight:bolder;
        }
    
        
    }
    
}